@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Times New Roman', Times, serif !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navigation{
    box-shadow: black 5px 5px 15px;
}
.transition-all{
    transition: width 3s ease-in-out;
}
@media screen and (max-width:350px){
    .buttons{
        transition: width 3s ease-in;
    }
    .buttons button{
        padding:0px 2px !important;
        font-size: 12px !important;
    }
    .brand img{
        width: 100px !important;
    }
}
@layer base{
    :root{
        --primary-color:#2E3192
    }
    .topbar{
        @apply bg-[var(--primary-color)]
    }
    .contactDetails{
        @apply flex items-center
    }
    .icon{
        @apply p-0
    }
    .contactDetails::after{
        content: "|";
    }
    ::after{
        @apply px-1 text-slate-100
    }
    div.links ul li{
        @apply px-3 text-lg text-[var(--primary-color)] font-bold
    }
    div.mobileLinks ul li{
        @apply px-3 text-lg border-b-2
    }
    .cta button{
        @apply bg-[var(--secondary-color)] text-white border-l-4 border-[--primary-color]
    }
    div.sliderComment{
        @apply absolute top-[30%] bg-black/80 h-[30vh] duration-300 left-3 w-[fit-content]
        flex flex-col justify-between items-start px-2
    }
    h2.sliderHeading{
        @apply text-[wheat] text-2xl
    }
    div.description{
        @apply text-xl text-[wheat]
    }
    .btn-content{
        @apply flex items-center p-2
    }
    .btn-icon{
        @apply mr-2
    }
    .btn-label{
        @apply whitespace-nowrap
    }
}